<!doctype html>
<html ⚡ lang="en">
  <head>
 {% include head.html %}
 {% include custom-style.html %}
 <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
 <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
  </head>
  <body>
    {% include header.html %}
    {% include amp-sidebar.html %}
    {% include hero-header.html %}
    <div class="clearfix">
  <div class="sm-col sm-col-10">
     <main id="content" role="main">
     <article class="m3">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </article>
   </main>
 <div class="m3">
  {% include amp-social-share.html %}
 </div>
 </div>
  <div class="sm-col sm-col-2">
      second grid
  </div>
</div>
    {% include footer.html %}
  </body>
</html>
